@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Primary-color: #101316;
    --Secondary-color: #393E46;
    --Accent-color: #008086;
    --Accent-Dark-color: #EEEEEE;
}

.hidden{
    display: none;
}
.flex{
    display: flex;
    justify-content: space-between;
}

body{
    background: rgb(98,0,255);
    background: linear-gradient(87deg, rgba(98,0,255,1) 0%, rgba(255,0,206,1) 100%);
}

section{
   margin: 9% auto;
   width: 400px;
   height: 400px;
   background-color: white;
   border: none;
   outline: none;
   border-radius: 20px;
   padding: 20px;
   opacity: 100%;
   box-shadow: 0 0 10px 2px rgb(56, 56, 56);
}

.container h1{
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 30px;
    color: var(--Primary-color);
    border: none;
    outline: none;
    margin-bottom: 10px;
}

span{
    color: var(--Accent-color);
}

input{
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
}

.container input{
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    font-size: 17px;
    margin-top: 10px;
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 15px;
    border-radius: 8px;
    outline: none;
    border: solid 0.75px var(--Primary-color);
    background-color: white;
}

.container input::placeholder{
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: rgb(98,0,255);
    font-size: 15px;
}

.generatebtn{
    width: 100%;
    padding: 9px 20px;
    background-color: white;
    border-radius: 8px;
    outline: none;
    border: solid 0.25px var(--Primary-color);
    background-color: rgb(209, 209, 209);
    color: var(--Accent-color);
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 5px;
}

.generatebtn:hover{ 
    color: white;  
    cursor: pointer;
    transition: 0.5s ease-in-out;
    background: rgb(98,0,255);
}

.container #link{
    text-decoration: none;
    margin-left: 200px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #008086;
}

.container #link:hover{
    color: rgb(98,0,255);
    text-decoration: underline;
}

.length{
    margin-top: 10px;
    margin-bottom: 10px;
}

#slider{
    width: 300px;
    height: 5px;
    accent-color: #008086;
    cursor: pointer;
}


.length span{
    position: absolute;
    right: 520px;
    bottom: 295px;
    font-size: 29px;
    color: #008086;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
};
